<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:57:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.AddToCart@2473b9ce]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/03/20 13:58:01</td>   <td>2800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCart.addTo()[pri:0, instance:tests.AddToCart@2473b9ce]">addTo</td> 
  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:13</td>   <td>15161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:tests.AddToCart@2473b9ce]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:14</td>   <td>15573</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:tests.AddToCart@2473b9ce]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:14</td>   <td>16381</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.ContactTest@60438a68]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>21/03/20 13:58:16</td>   <td>17581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactTest.contact()[pri:0, instance:tests.ContactTest@60438a68]">contact</td> 
  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:21</td>   <td>23165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:tests.ContactTest@60438a68]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:21</td>   <td>23270</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:tests.ContactTest@60438a68]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:23</td>   <td>24474</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.EditAccountTest@140e5a13]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>21/03/20 13:58:24</td>   <td>25720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditAccountTest.editAcc(Models.EditAccountModel)[pri:0, instance:tests.EditAccountTest@140e5a13]">editAcc</td> 
  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:41</td>   <td>42851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:tests.EditAccountTest@140e5a13]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:41</td>   <td>42961</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:tests.EditAccountTest@140e5a13]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:42</td>   <td>43792</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.FilterTest@3439f68d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>21/03/20 13:58:43</td>   <td>45015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilterTest.filter()[pri:0, instance:tests.FilterTest@3439f68d]">filter</td> 
  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:53</td>   <td>55002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:tests.FilterTest@3439f68d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:53</td>   <td>55069</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:tests.FilterTest@3439f68d]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:58:54</td>   <td>55827</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.LoginTest@dbd940d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>21/03/20 13:58:55</td>   <td>57313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(Models.LoginModel)[pri:0, instance:tests.LoginTest@dbd940d]">loginTest</td> 
  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:04</td>   <td>65865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:tests.LoginTest@dbd940d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:04</td>   <td>65996</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:tests.LoginTest@dbd940d]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:05</td>   <td>66784</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.LogoutTest@71d15f18]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>21/03/20 13:59:06</td>   <td>68045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogoutTest.logoutTest(Models.LoginModel)[pri:0, instance:tests.LogoutTest@71d15f18]">logoutTest</td> 
  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:17</td>   <td>79414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:tests.LogoutTest@71d15f18]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:18</td>   <td>79474</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:tests.LogoutTest@71d15f18]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:18</td>   <td>80254</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.RegistrationTest@17695df3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>21/03/20 13:59:20</td>   <td>81462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.registration()[pri:0, instance:tests.RegistrationTest@17695df3]">registration</td> 
  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:27</td>   <td>89188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTest@17695df3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:27</td>   <td>89281</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:tests.RegistrationTest@17695df3]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:28</td>   <td>90073</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.SearchTest@6c9f5c0d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/03/20 13:59:29</td>   <td>91323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.searchBar()[pri:0, instance:tests.SearchTest@6c9f5c0d]">searchBar</td> 
  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:45</td>   <td>106787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:tests.SearchTest@6c9f5c0d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:45</td>   <td>106851</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:tests.SearchTest@6c9f5c0d]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:46</td>   <td>107692</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.SubscribeTest@de3a06f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>21/03/20 13:59:47</td>   <td>108903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubscribeTest.subscribeNews()[pri:0, instance:tests.SubscribeTest@de3a06f]">subscribeNews</td> 
  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:57</td>   <td>118592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:tests.SubscribeTest@de3a06f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>21/03/20 13:59:57</td>   <td>118672</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:tests.SubscribeTest@de3a06f]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876926621</td>   <td></td> </tr>
</table>
